## 20MAI0077
### CSE5021	Data Warehousing and Mining	ELA
### Basic data structures in Python NumPy and PANDAS
<br></br>

# dtypes in python
Data types are the classification or categorization of data items. 

It represents the kind of value that tells what operations can be performed on a particular data.

In [1]:
x = [5, 20.5, 'Freddie', (2, 'This is a tuple'), ['2', '3', '4'], {"name" : "Vivek", "age" : 22}, {"apple", "banana", "cherry"}, True, range(5)]

for i in x:
    print(type(i))

# Data Structures in Python

data structures are objects that contain a possibly large number of other objects. Among those that Python provides as built-in structures are:

tuple -
A collection of arbitrary objects; only a few methods available

list -
A collection of arbitrary objects; many methods available

dict -
A key-value store object

set -
An unordered collection object for other unique objects

### List

In [2]:
my_list = [1, 2, 3]
print(my_list)
my_list.append([555, 12])  #add as a single element
print(my_list)
my_list.extend([234, 'more_example'])  #add as different elements
print(my_list)
my_list.insert(1, 'insert_example')  #add element at index
print(my_list)

print(my_list[0:2])  #accessing elements from 0 to 1 and exclude 2
print(my_list[::-1])  #accessing elements in reverse

[1, 2, 3]
[1, 2, 3, [555, 12]]
[1, 2, 3, [555, 12], 234, 'more_example']
[1, 'insert_example', 2, 3, [555, 12], 234, 'more_example']
[1, 'insert_example']
['more_example', 234, [555, 12], 3, 2, 'insert_example', 1]

In [3]:
my_list = [1, 2, 3, 'example', 3.132, 10, 30]
del my_list[5]         #delete element at index 5
print(my_list)

my_list.remove('example')  #remove element with value
print(my_list)

a = my_list.pop(1)     #pop element from list
print('Popped Element: ', a, ' List remaining: ', my_list)

my_list.clear()        #empty the list
print(my_list)

[1, 2, 3, 'example', 3.132, 30]
[1, 2, 3, 3.132, 30]
Popped Element:  2  List remaining:  [1, 3, 3.132, 30]
[]

In [4]:
sen="hello this is a sentence to just say hello"
list2 = []

s=sen.split()

list2.extend(s)                    

print(list2)

list3=[]

for i in s:
    if i not in list3:
        list3.append(i)
  
for i in range(0,len(list3)):
    q=s.count(list3[i])
    print("{} - ".format(list3[i]),q)

['hello', 'this', 'is', 'a', 'sentence', 'to', 'just', 'say', 'hello']
hello -  2
this -  1
is -  1
a -  1
sentence -  1
to -  1
just -  1
say -  1

### Dictionary
A dictionary (or map or associative-array) is a data-structure with keys and values.

In Python, Dictionary data structure can be used as the dict datatype

In [5]:
my_dict = {'First': 'Apple', 'Second': 'Orange'}
print(my_dict)
my_dict['Second'] = 'Grapes'  #changing element
print(my_dict)
my_dict['Third'] = 'Mango'  #adding third key-value pair
print(my_dict)

{'First': 'Apple', 'Second': 'Orange'}
{'First': 'Apple', 'Second': 'Grapes'}
{'First': 'Apple', 'Second': 'Grapes', 'Third': 'Mango'}

In [6]:
a = my_dict.pop('Third')  #pop element
print('Value:', a)
print('Dictionary:', my_dict)

b = my_dict.popitem()  #pop the key-value pair
print('Key, value pair:', b)
print('Dictionary', my_dict)

my_dict.clear()  #empty dictionary
print('n', my_dict)

Value: Mango
Dictionary: {'First': 'Apple', 'Second': 'Grapes'}
Key, value pair: ('Second', 'Grapes')
Dictionary {'First': 'Apple'}
n {}

### Tuple

In [7]:
my_tuple = (1, 2, 3, 'hi', 20)  #creating tuple
print(my_tuple)

print(my_tuple[0])
print(my_tuple[:])
print(my_tuple[3][1])

my_tuple = my_tuple + (2, 5, 6)  #add elements
print(my_tuple)

print(my_tuple.count(2))
print(my_tuple.index('hi'))

(1, 2, 3, 'hi', 20)
1
(1, 2, 3, 'hi', 20)
i
(1, 2, 3, 'hi', 20, 2, 5, 6)
2
3

### Set

In [8]:
my_set = {1, 2, 3, 4, 5, 5, 5}  #creating set
print(my_set)

my_set.add(6)  #add element to set
print(my_set)

my_set.clear()
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
set()

# Pandas and Numpy
Pandas offers data structures and operations for manipulating numerical tables and time series.

NumPy, which stands for Numerical Python, is a library consisting of multidimensional array objects and a collection of routines for processing those arrays. Using NumPy, mathematical and logical operations on arrays can be performed

Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index

In [9]:
import pandas as pd
import numpy as np

data = np.array(['a','b','c','d'])
s = pd.Series(data)  # Create a Series from ndarray
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [10]:
print (s[0])  # Accessing Data from Series

a

In [11]:
print(s[2])

c

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

In [12]:
# DataFrame from Lists

data = [['rahul',34],['laxman',32],['ashish',26]]
df = pd.DataFrame(data,columns=['Name','Age'], index=['player1','player2','player3'])
print(df)

           Name  Age
player1   rahul   34
player2  laxman   32
player3  ashish   26

In [13]:
# DataFrame from Dict of Series

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

dfs = pd.DataFrame(d)
print(dfs)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [14]:
df['Age']

player1    34
player2    32
player3    26
Name: Age, dtype: int64

In [15]:
# column deletion from df

dfs.pop('two')
print(dfs)

   one
a  1.0
b  2.0
c  3.0
d  NaN

In [16]:
df.loc['player2']   # Rows can be selected by passing row label to a loc function

Name    laxman
Age         32
Name: player2, dtype: object

In [17]:
df.iloc[1]     # Rows can be selected by passing integer location to an iloc function

Name    laxman
Age         32
Name: player2, dtype: object

In [18]:
df = df.append(dfs)  # Add new rows to a DataFrame using the append function

In [19]:
df

           Name   Age  one
player1   rahul  34.0  NaN
player2  laxman  32.0  NaN
player3  ashish  26.0  NaN
a           NaN   NaN  1.0
b           NaN   NaN  2.0
c           NaN   NaN  3.0
d           NaN   NaN  NaN

In [20]:
# deletion of rows

df = df.drop('a')

In [21]:
df

           Name   Age  one
player1   rahul  34.0  NaN
player2  laxman  32.0  NaN
player3  ashish  26.0  NaN
b           NaN   NaN  2.0
c           NaN   NaN  3.0
d           NaN   NaN  NaN

In [22]:
a = np.array([2,5,9,1])

print(a.argmax())#for finding the index of max value in array

a=np.arange(100)# to arrange 1d data into 2d data

2

In [23]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])